body {
    font-family: 'Roboto', sans-serif, 'Noto Sans JP', sans-serif;
}
.header {
  color: #fff;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1191px;
  width: 100%;
  margin: 0 auto;
}
.header-title {
  font-size: 26px;
}
.header-list {
  display: flex;
}